{%include "header.html"%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lumia Bootstrap Template Demo</title>
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <!---icon-->
    <link rel="icon" href="https://cdn.icon-icons.com/icons2/3245/PNG/512/bootstrap_icon_198286.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
 
    <!-- Banner Section -->
    <section id="banner" class="d-flex flex-column justify-content-center align-items-center">
        <div class="container text-center text-md-left">
            <h1>
                Welcome to
                <span>Lumia</span>
            </h1>
            <h2>We are team of talented designers making websites with Bootstrap</h2>
            <a href="#" class="btn-get-start">Get Started</a>
        </div>
    </section>

    <!-- What we do -->
    <section class="pt-5">
        <div class="container">
            <div class="text-center pb-2 section-title">
                <h2>What We do</h2>
                <p class="text">The consequences of something of the great pain of the advantage</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stratch">
                    <div class="icon-box" style="transition: .6s;">
                        <div class="text-center" style="width: 18rem;">
                            <div class="icon">
                                <i class="fa-solid fa-globe fa-xl p"
                                    style="color: #74C0FC; border: 1px solid rgb(252, 254, 254); border-radius: 50px; background-color: #eaf4fb;"></i>
                            </div>
                            <h5 class="card-title py-3" style="font-size: 20px; font-weight: 600; transition: .5s;">
                                Special Title</h5>
                            <p class="card-text text" style="font-size: 13px;">With supporting text below as a
                                natural lead-in to additional
                                content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stratch">
                    <div class="icon-box" style="transition: .6s;">
                        <div class="text-center" style="width: 18rem;">
                            <div class="icon">
                                <i class="fa-regular fa-file-lines fa-xl p"
                                    style="color: #74C0FC; border: 1px solid rgb(252, 254, 254); border-radius: 50px; background-color: #eaf4fb;"></i>
                            </div>
                            <h5 class="card-title py-3" style="font-size: 20px; font-weight: 600; transition: .5s; ">
                                Special Title</h5>
                            <p class=" card-text text" style="font-size: 13px;">With supporting text below as a
                                natural lead-in to additional content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stratch">
                    <div class="icon-box" style="transition: .6s;">
                        <div class="text-center" style="width: 18rem;">
                            <div class="icon">
                                <i class="fa-solid fa-gauge-simple-high fa-xl p"
                                    style="color: #74C0FC; border: 1px solid rgb(252, 254, 254); border-radius: 50px; background-color: #eaf4fb;"></i>
                            </div>
                            <h5 class="card-title py-3" style="font-size: 20px; font-weight: 600; transition: .5s;">
                                Special Title</h5>
                            <p class="card-text text" style="font-size: 13px;">With supporting text below as a
                                natural lead-in to additional content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About us -->
    <div class="container-fluid mt-5">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <img src="https://bootstrapmade.com/demo/templates/Lumia/assets/img/about.jpg" height="364px">
                </div>
                <div class="col-6">
                    <h3 style="font-weight: 600; color: #3b3d3e;">About Us</h3>
                    <p class="text" style="font-size: 15px;">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Libero aut iure quo voluptas minima, quis voluptatum sint veritatis, sequi fugit consectetur.
                    </p>
                    <ul class="text">
                        <li style="list-style: none;" class="text"><i class="fa-solid fa-check-double"
                                style="color: #74C0FC;"></i> The advantage of the work, except that the aliquip out of
                            it, no longer any problem.
                        </li>
                        <li style="list-style: none;" class="text"><i class="fa-solid fa-check-double"
                                style="color: #74C0FC;"></i> Homework, the pain of the right to find fault with the
                            pleasure of the author of the game.
                        </li>
                    </ul>
                    <div class="row">
                        <div class="col-6">
                            <div class="" style="width: 18rem;">
                                <div class="icon">
                                    <i class="fa-regular fa-newspaper fa-flip-horizontal fa-2xl p"
                                        style="color: #3b85be;"></i>
                                </div>
                                <h5 class="card-title">Body pleasures</h5>
                                <p class="card-text text" style="font-size: 14px;">The result is, or, as it were, for
                                    some ofthe things that are of these is to be equal to the work.</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="" style="width: 18rem;">
                                <div class="icon">
                                    <i class="fa-solid fa-cube fa-2xl p" style="color: #3b85be;"></i>
                                </div>
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text text" style="font-size: 14px;">With supporting text below as a
                                    natural lead-in to additional
                                    content.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Skill Section -->
    <section class="skills pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="progress-01">
                        <div class="skill p-2" style="font-size: 12px;">HTML
                            <i class="val">100%</i>
                        </div>
                        <div class="progress-bar-wrap" style="background-color: #eaf4fb;">
                            <div class="progress-bar mt-2" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                aria-valuemax="100"
                                style="width: 100%; height: 12px; background-color: cornflowerblue;"></div>
                        </div>
                    </div>
                    <div class="progress-01 mt-2">
                        <div class="skill p-2" style="font-size: 12px;">CSS
                            <i class="val">90%</i>
                        </div>
                        <div class="progress-bar-wrap" style="background-color: #eaf4fb;">
                            <div class="progress-bar mt-2" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                aria-valuemax="100" style="width: 90%; height: 12px; background-color: cornflowerblue;">
                            </div>
                        </div>
                    </div>
                    <div class="progress-01 mt-2">
                        <div class="skill p-2" style="font-size: 12px;">JAVASCRIPT
                            <i class="val">75%</i>
                        </div>
                        <div class="progress-bar-wrap" style="background-color: #eaf4fb;">
                            <div class="progress-bar mt-2" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                aria-valuemax="100" style="width: 75%; height: 12px; background-color: cornflowerblue;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="progress-01">
                        <div class="skill p-2" style="font-size: 12px;">PHP
                            <i class="val">80%</i>
                        </div>
                        <div class="progress-bar-wrap" style="background-color: #eaf4fb;">
                            <div class="progress-bar mt-2" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                aria-valuemax="100" style="width: 80%; height: 12px; background-color: cornflowerblue;">
                            </div>
                        </div>
                    </div>
                    <div class="progress-01 mt-2">
                        <div class="skill p-2" style="font-size: 12px;">WORDPRESS/CMS
                            <i class="val">90%</i>
                        </div>
                        <div class="progress-bar-wrap" style="background-color: #eaf4fb;">
                            <div class="progress-bar mt-2" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                aria-valuemax="100" style="width: 90%; height: 12px; background-color: cornflowerblue;">
                            </div>
                        </div>
                    </div>
                    <div class="progress-01 mt-2">
                        <div class="skill p-2" style="font-size: 12px;">PHOTOSHOP
                            <i class="val">55%</i>
                        </div>
                        <div class="progress-bar-wrap" style="background-color: #eaf4fb;">
                            <div class="progress-bar mt-2" role="progressbar" aria-valuenow="55" aria-valuemin="0"
                                aria-valuemax="100" style="width: 55%; height: 12px; background-color: cornflowerblue;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Count Section -->
    <section class="count">
        <div class="container">
            <div class="row">
                <div class="col-3 d-flex align-items-stratch">
                    <div class="count-box">
                        <div class="text-center">
                            <div class="icon">
                                <i class="fa-regular fa-face-laugh fa-2xl p"
                                    style="color: #ffffff; border: 1px solid rgb(252, 254, 254); border-radius: 50px; background-color: rgb(78, 128, 222);"></i>
                            </div>
                            <div class="card-title" style="font-size: 40px; font-weight: 400; font-style: normal;">
                                232</div>
                            <p class="card-text text" style="font-size: 13px;">Happy Clients</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="count-box">
                        <div class="text-center">
                            <div class="icon">
                                <i class="fa-solid fa-file-zipper fa-2xl p"
                                    style="color: #ffffff; border: 1px solid rgb(252, 254, 254); border-radius: 50px; background-color: rgb(78, 128, 222);"></i>
                            </div>
                            <div class="card-title" style="font-size: 40px; font-weight: 400; font-style: normal;">
                                521</div>
                            <p class="card-text text" style="font-size: 13px;">Projects</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="count-box">
                        <div class="text-center">
                            <div class="icon">
                                <i class="fa-solid fa-headphones-simple fa-2xl p"
                                    style="color: #ffffff; border: 1px solid rgb(252, 254, 254); border-radius: 50px; background-color: rgb(78, 128, 222);"></i>
                            </div>
                            <div class="card-title" style="font-size: 40px; font-weight: 400; font-style: normal;">
                                1463</div>
                            <p class="card-text text" style="font-size: 13px;">Hours of Supports</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="count-box">
                        <div class="text-center">
                            <div class="icon">
                                <i class="fa-solid fa-user-group fa-xl p"
                                    style="color: #ffffff; border: 1px solid rgb(252, 254, 254); border-radius: 50px; background-color: rgb(78, 128, 222);"></i>
                            </div>
                            <div class="card-title" style="font-size: 40px; font-weight: 400; font-style: normal;">
                                15</div>
                            <p class="card-text text" style="font-size: 13px;">Hard Works</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Service Section -->
    <section class="Service-bg pt-5 pb-5" style="background-color: #f7fbfe;">
        <div class="container">
            <div class="text-center pb-2 section-title">
                <h2>Services</h2>
                <p class="text">Necessitatibus eius consequatur ex aliquid fuga eum quidem</p>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="service-box mb-3 p-2" style="transition: .5s; background-color: white">
                        <div class="row g-0">
                            <div class="col-md-2 d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-briefcase fa-2xl" style="color: #74C0FC;"></i>
                            </div>
                            <div class="col-md-10">
                                <div class="card-body">
                                    <h5 class="card-title">Lorem ipsum</h5>
                                    <p class="card-text text" style="font-size: 13px;">This is a wider card with
                                        supporting text below as a natural lead-in to additional content. This content
                                        is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="service-box mb-3 p-2" style="background-color: white">
                        <div class="row g-0">
                            <div class="col-md-2 d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-list-check fa-2xl" style="color: #74C0FC;"></i>
                            </div>
                            <div class="col-md-10">
                                <div class="card-body">
                                    <h5 class="card-title">Lorem ipsum</h5>
                                    <p class="card-text text" style="font-size: 13px;">This is a wider card with
                                        supporting text below as a natural lead-in to additional content. This content
                                        is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="service-box mb-3 p-2" style="background-color: white">
                        <div class="row g-0">
                            <div class="col-md-2 d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-chart-column fa-2xl" style="color: #74C0FC;"></i>
                            </div>
                            <div class="col-md-10">
                                <div class="card-body">
                                    <h5 class="card-title">Lorem ipsum</h5>
                                    <p class="card-text text" style="font-size: 13px;">This is a wider card with
                                        supporting text below as a natural lead-in to additional content. This content
                                        is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="service-box mb-3 p-2" style="background-color: white">
                        <div class="row g-0">
                            <div class="col-md-2 d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-binoculars fa-2xl" style="color: #74C0FC;"></i>
                            </div>
                            <div class="col-md-10">
                                <div class="card-body">
                                    <h5 class="card-title">Lorem ipsum</h5>
                                    <p class="card-text text" style="font-size: 13px;">This is a wider card with
                                        supporting text below as a natural lead-in to additional content. This content
                                        is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="service-box mb-3 p-2" style="background-color: white">
                        <div class="row g-0">
                            <div class="col-md-2 d-flex justify-content-center align-items-center">
                                <i class="fa-regular fa-sun fa-2xl" style="color: #74C0FC;"></i>
                            </div>
                            <div class="col-md-10">
                                <div class="card-body">
                                    <h5 class="card-title">Lorem ipsum</h5>
                                    <p class="card-text text" style="font-size: 13px;">This is a wider card with
                                        supporting text below as a natural lead-in to additional content. This content
                                        is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="service-box mb-3 p-2" style="background-color: white">
                        <div class="row g-0">
                            <div class="col-md-2 d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-calendar-days fa-2xl" style="color: #74C0FC;"></i>
                            </div>
                            <div class="col-md-10">
                                <div class="card-body">
                                    <h5 class="card-title">Lorem ipsum</h5>
                                    <p class="card-text text" style="font-size: 13px;">This is a wider card with
                                        supporting text below as a natural lead-in to additional content. This content
                                        is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <!-- Portfolio Section -->
    <section class="portfolio pt-5 pb-5">
        <div class="container">
            <div class="text-center pb-2 section-title">
                <h2>Portfolio</h2>
                <p class="text">Necessitatibus eius consequatur ex aliquid fuga eum quidem</p>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="portfolio-btn d-flex justify-content-center text"
                        style="list-style: none; font-size: 12px;">
                        <li class="btn-all" style="background-color: cornflowerblue; color: white;">ALL</li>
                        <li class="btn-app">APP</li>
                        <li class="btn-card">CARD</li>
                        <li class="btn-web">WEB</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="card text-center box mb-4" style="width: 356px;">
                        <div class="p-box">
                            <img src="https://bootstrapmade.com/demo/templates/Lumia/assets/img/portfolio/portfolio-1.jpg"
                                alt="" width="356px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">App 1</h5>
                            <p class="card-text text">APP</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card text-center box mb-4" style="width: 356px;">
                        <div class="p-box">
                            <img src="https://bootstrapmade.com/demo/templates/Lumia/assets/img/portfolio/portfolio-2.jpg"
                                alt="" width="356px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">App 1</h5>
                            <p class="card-text text">APP</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card text-center box mb-4" style="width: 356px;">
                        <div class="p-box">
                            <img src="https://bootstrapmade.com/demo/templates/Lumia/assets/img/portfolio/portfolio-3.jpg"
                                alt="" width="356px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">App 1</h5>
                            <p class="card-text text">APP</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card text-center box mb-4" style="width: 356px;">
                        <div class="p-box">
                            <img src="https://bootstrapmade.com/demo/templates/Lumia/assets/img/portfolio/portfolio-4.jpg"
                                alt="" width="356px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">App 1</h5>
                            <p class="card-text text">APP</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card text-center box mb-4" style="width: 356px;">
                        <div class="p-box">
                            <img src="https://bootstrapmade.com/demo/templates/Lumia/assets/img/portfolio/portfolio-5.jpg"
                                alt="" width="356px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">App 1</h5>
                            <p class="card-text text">APP</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card text-center box mb-4" style="width: 356px;">
                        <div class="p-box">
                            <img src="https://bootstrapmade.com/demo/templates/Lumia/assets/img/portfolio/portfolio-6.jpg"
                                alt="" width="356px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">App 1</h5>
                            <p class="card-text text">APP</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card text-center box mb-4" style="width: 356px;">
                        <div class="p-box">
                            <img src="https://bootstrapmade.com/demo/templates/Lumia/assets/img/portfolio/portfolio-7.jpg"
                                alt="" width="356px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">App 1</h5>
                            <p class="card-text text">APP</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card text-center box mb-4" style="width: 356px;">
                        <div class="p-box">
                            <img src="https://bootstrapmade.com/demo/templates/Lumia/assets/img/portfolio/portfolio-8.jpg"
                                alt="" width="356px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">App 1</h5>
                            <p class="card-text text">APP</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card text-center box mb-4" style="width: 356px;">
                        <div class="p-box">
                            <img src="https://bootstrapmade.com/demo/templates/Lumia/assets/img/portfolio/portfolio-9.jpg"
                                alt="" width="356px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">App 1</h5>
                            <p class="card-text text">APP</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Testimonials Section -->
    <section class="testimonials pt-5 pb-5" style="background-color: #f7fbfe;">
        <div class="container">
            <div class="text-center pb-2 section-title">
                <h2>Testimonials</h2>
                <p class="text">Necessitatibus eius consequatur ex aliquid fuga eum quidem</p>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="img-box" style="background-color: white;">
                        <div class="text-center">
                            <p class="font">
                                <i class="fa-solid fa-quote-left fa-xl" style="color: #d7e9f5; "></i>
                                The pain of the pain of the things that I was a lot of hair, for there is no fault of
                                many of the eu export to the least of the least of the least he wishes to flee, and the
                                pain of the pain of the two things I will come to him, the labor of the soul, which
                                would be great, they are the customers will come to him.
                                <i class="fa-solid fa-quote-right fa-xl" style="color: #d7e9f5;"></i>
                            </p>
                            <h3 class="card-title py-2" style="font-size: 20px; font-weight: 600; transition: .5s;">
                                Saul Goodman</h3>
                            <h4 class="card-text text" style="font-size: 13px;">CEOs and Founder</h4>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="img-box" style="background-color: white;">
                        <div class="text-center">
                            <p class="font">
                                <i class="fa-solid fa-quote-left fa-xl" style="color: #d7e9f5; "></i>
                                The pain of the pain of the things that I was a lot of hair, for there is no fault of
                                many of the eu export to the least of the least of the least he wishes to flee, and the
                                pain of the pain of the two things I will come to him, the labor of the soul, which
                                would be great, they are the customers will come to him.
                                <i class="fa-solid fa-quote-right fa-xl" style="color: #d7e9f5;"></i>
                            </p>
                            <h3 class="card-title py-2" style="font-size: 20px; font-weight: 600; transition: .5s;">
                                Sarah Wilsson</h3>
                            <h4 class="card-text text" style="font-size: 13px;">Designer</h4>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="img-box" style="background-color: white;">
                        <div class="text-center">
                            <p class="font">
                                <i class="fa-solid fa-quote-left fa-xl" style="color: #d7e9f5; "></i>
                                The pain of the pain of the things that I was a lot of hair, for there is no fault of
                                many of the eu export to the least of the least of the least he wishes to flee, and the
                                pain of the pain of the two things I will come to him, the labor of the soul, which
                                would be great, they are the customers will come to him.
                                <i class="fa-solid fa-quote-right fa-xl" style="color: #d7e9f5;"></i>
                            </p>
                            <h3 class="card-title py-2" style="font-size: 20px; font-weight: 600; transition: .5s;">
                                Matt Brandon</h3>
                            <h4 class="card-text text" style="font-size: 13px;">Freelancer</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section class="team pt-5 pb-5">
        <div class="container">
            <div class="text-center pb-2 section-title">
                <h2>Team</h2>
                <p class="text">Necessitatibus eius consequatur ex aliquid fuga eum quidem</p>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="img-box">
                        <div class="text-center">
                            <div class="img mb-4">
                                <img src="https://bootstrapmade.com/demo/templates/Lumia/assets/img/team/team-1.jpg"
                                    height="200px" style="border-radius: 100px;">
                            </div>
                            <h3 class="card-title" style="font-size: 20px; font-weight: 600; transition: .5s;">
                                Walter White</h3>
                            <h4 class="card-text text" style="font-size: 13px;">Chief Executive Officer</h4>
                            <p class="font" style="font-size: 13px; color: #888b91;">
                                The Great, who, and that all of them, and the flight of the exercise. I hate the truth,
                                or either, or who seek to see the truth.
                            </p>
                            <div class="icons">
                                <i class="fa-brands fa-twitter" style="color: #888b91;"></i>
                                <i class="fa-brands fa-facebook ps-1" style="color: #888b91;"></i>
                                <i class="fa-brands fa-instagram ps-1" style="color: #888b91;"></i>
                                <i class="fa-brands fa-linkedin ps-1" style="color: #888b91;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="img-box">
                        <div class="text-center">
                            <div class="img mb-4">
                                <img src="https://bootstrapmade.com/demo/templates/Lumia/assets/img/team/team-2.jpg"
                                    height="200px" style="border-radius: 100px;">
                            </div>
                            <h3 class="card-title" style="font-size: 20px; font-weight: 600; transition: .5s;">
                                Walter White</h3>
                            <h4 class="card-text text" style="font-size: 13px;">Chief Executive Officer</h4>
                            <p class="font" style="font-size: 13px; color: #888b91;">
                                The Great, who, and that all of them, and the flight of the exercise. I hate the truth,
                                or either, or who seek to see the truth.
                            </p>
                            <div class="icons">
                                <i class="fa-brands fa-twitter" style="color: #888b91;"></i>
                                <i class="fa-brands fa-facebook ps-1" style="color: #888b91;"></i>
                                <i class="fa-brands fa-instagram ps-1" style="color: #888b91;"></i>
                                <i class="fa-brands fa-linkedin ps-1" style="color: #888b91;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="img-box">
                        <div class="text-center">
                            <div class="img mb-4">
                                <img src="https://bootstrapmade.com/demo/templates/Lumia/assets/img/team/team-3.jpg"
                                    height="200px" style="border-radius: 100px;">
                            </div>
                            <h3 class="card-title" style="font-size: 20px; font-weight: 600; transition: .5s;">
                                Walter White</h3>
                            <h4 class="card-text text" style="font-size: 13px;">Chief Executive Officer</h4>
                            <p class="font" style="font-size: 13px; color: #888b91;">
                                The Great, who, and that all of them, and the flight of the exercise. I hate the truth,
                                or either, or who seek to see the truth.
                            </p>
                            <div class="icons">
                                <i class="fa-brands fa-twitter" style="color: #888b91;"></i>
                                <i class="fa-brands fa-facebook ps-1" style="color: #888b91;"></i>
                                <i class="fa-brands fa-instagram ps-1" style="color: #888b91;"></i>
                                <i class="fa-brands fa-linkedin ps-1" style="color: #888b91;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section  -->
    <section class="contact pt-5 pb-5" style="background-color: #f7fbfe;">
        <div class="container">
            <div class="text-center pb-2 section-title">
                <h2>Contact</h2>
                <p class="text">Necessitatibus eius consequatur ex aliquid fuga eum quidem</p>
            </div>
            <div class="row mt-5 justify-content-center">
                <div class="col-lg-10">
                    <div class="info-wrap" style="padding: 30px; background-color: white; border-radius: 4px;">
                        <div class="row">
                            <div class="col-4 info">
                                <i class="fa-solid fa-location-dot fa-xl"
                                    style="color: #74C0FC; border: 1px solid rgb(252, 254, 254); border-radius: 50px; background-color: #eaf4fb;"></i>
                                <h4 style="padding-left: 60px; font-size: 21px;">Location:</h4>
                                <p class="text" style="font-size: 14px; padding-left: 60px;">A108 Adam
                                    Street<br>NewYork, NY 535022</p>
                            </div>
                            <div class="col-4 info">
                                <i class="fa-regular fa-envelope fa-xl"
                                    style="color: #74C0FC; border: 1px solid rgb(252, 254, 254); border-radius: 50px; background-color: #eaf4fb;"></i>
                                <h4 style="padding-left: 60px; font-size: 21px;">Email:</h4>
                                <p class="text" style="font-size: 14px; padding-left: 60px;">
                                    info@example.com<br>contact@example.com</p>
                            </div>
                            <div class="col-4 info">
                                <i class="fa-solid fa-mobile-screen-button fa-xl"
                                    style="color: #74C0FC; border: 1px solid rgb(252, 254, 254); border-radius: 50px; background-color: #eaf4fb;"></i>
                                <h4 style="padding-left: 60px; font-size: 21px;">Call:</h4>
                                <p class="text" style="font-size: 14px; padding-left: 60px;">+1 5589 55488 51
                                    <br>+1 5589 22475 14
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5 justify-content-center">
                <div class="col-lg-10">
                    <div class="Email-form"
                        style="width: 100%; padding: 30px; background-color: white; border-radius: 4px;">
                        <div class="row">
                            <div class="col-6 pb-4">
                                <input type="text" name="name" placeholder="Your Name" class="form-control">
                            </div>
                            <div class="col-6 pb-4">
                                <input type="text" name="email" placeholder="Email" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col pb-4">
                                <input type="text" name="subject" placeholder="Subject" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col pb-4">
                                <textarea name="message" placeholder="Message" rows="10"
                                    class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="text-center">
                           <button type="submit" class="send">Send Message</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

  
   
    <!-- END -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
{%include "footer.html"%}
