<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="name" id="">
        <input type="email" name="email" id="">
        <input type="password" name="password" id="">
        <input type="submit" name="save" id="">
    </form>

    <table>
        <tr>
            <th>name</th>
            <th>email</th>
            <th>password</th>
        </tr>
        <tr>
            <td>{{name}}</td>
            <td>{{email}}</td>
            <td>{{password}}</td>
        </tr>
    </table>
</body>
</html>