{%include "header.html"%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <!---icon-->
    <link rel="icon" href="https://cdn.icon-icons.com/icons2/3245/PNG/512/bootstrap_icon_198286.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

     <!-- Portfolio Section -->
     <section class="portfolio pt-5 pb-5">
        <div class="container">
            <div class="text-center pb-2 section-title">
                <h2>Portfolio</h2>
                <p class="text">Necessitatibus eius consequatur ex aliquid fuga eum quidem</p>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="portfolio-btn d-flex justify-content-center text"
                        style="list-style: none; font-size: 12px;">
                        <li class="btn-all" style="background-color: cornflowerblue; color: white;">ALL</li>
                        <li class="btn-app">APP</li>
                        <li class="btn-card">CARD</li>
                        <li class="btn-web">WEB</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="card text-center box mb-4" style="width: 356px;">
                        <div class="p-box">
                            <img src="https://bootstrapmade.com/demo/templates/Lumia/assets/img/portfolio/portfolio-1.jpg"
                                alt="" width="356px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">App 1</h5>
                            <p class="card-text text">APP</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card text-center box mb-4" style="width: 356px;">
                        <div class="p-box">
                            <img src="https://bootstrapmade.com/demo/templates/Lumia/assets/img/portfolio/portfolio-2.jpg"
                                alt="" width="356px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">App 1</h5>
                            <p class="card-text text">APP</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card text-center box mb-4" style="width: 356px;">
                        <div class="p-box">
                            <img src="https://bootstrapmade.com/demo/templates/Lumia/assets/img/portfolio/portfolio-3.jpg"
                                alt="" width="356px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">App 1</h5>
                            <p class="card-text text">APP</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card text-center box mb-4" style="width: 356px;">
                        <div class="p-box">
                            <img src="https://bootstrapmade.com/demo/templates/Lumia/assets/img/portfolio/portfolio-4.jpg"
                                alt="" width="356px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">App 1</h5>
                            <p class="card-text text">APP</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card text-center box mb-4" style="width: 356px;">
                        <div class="p-box">
                            <img src="https://bootstrapmade.com/demo/templates/Lumia/assets/img/portfolio/portfolio-5.jpg"
                                alt="" width="356px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">App 1</h5>
                            <p class="card-text text">APP</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card text-center box mb-4" style="width: 356px;">
                        <div class="p-box">
                            <img src="https://bootstrapmade.com/demo/templates/Lumia/assets/img/portfolio/portfolio-6.jpg"
                                alt="" width="356px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">App 1</h5>
                            <p class="card-text text">APP</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card text-center box mb-4" style="width: 356px;">
                        <div class="p-box">
                            <img src="https://bootstrapmade.com/demo/templates/Lumia/assets/img/portfolio/portfolio-7.jpg"
                                alt="" width="356px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">App 1</h5>
                            <p class="card-text text">APP</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card text-center box mb-4" style="width: 356px;">
                        <div class="p-box">
                            <img src="https://bootstrapmade.com/demo/templates/Lumia/assets/img/portfolio/portfolio-8.jpg"
                                alt="" width="356px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">App 1</h5>
                            <p class="card-text text">APP</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card text-center box mb-4" style="width: 356px;">
                        <div class="p-box">
                            <img src="https://bootstrapmade.com/demo/templates/Lumia/assets/img/portfolio/portfolio-9.jpg"
                                alt="" width="356px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">App 1</h5>
                            <p class="card-text text">APP</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>