<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>testimonials</title>
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <!---icon-->
    <link rel="icon" href="https://cdn.icon-icons.com/icons2/3245/PNG/512/bootstrap_icon_198286.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

     <!-- Testimonials Section -->
     <section class="testimonials pt-5 pb-5" style="background-color: #f7fbfe;">
        <div class="container">
            <div class="text-center pb-2 section-title">
                <h2>Testimonials</h2>
                <p class="text">Necessitatibus eius consequatur ex aliquid fuga eum quidem</p>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="img-box" style="background-color: white;">
                        <div class="text-center">
                            <p class="font">
                                <i class="fa-solid fa-quote-left fa-xl" style="color: #d7e9f5; "></i>
                                The pain of the pain of the things that I was a lot of hair, for there is no fault of
                                many of the eu export to the least of the least of the least he wishes to flee, and the
                                pain of the pain of the two things I will come to him, the labor of the soul, which
                                would be great, they are the customers will come to him.
                                <i class="fa-solid fa-quote-right fa-xl" style="color: #d7e9f5;"></i>
                            </p>
                            <h3 class="card-title py-2" style="font-size: 20px; font-weight: 600; transition: .5s;">
                                Saul Goodman</h3>
                            <h4 class="card-text text" style="font-size: 13px;">CEOs and Founder</h4>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="img-box" style="background-color: white;">
                        <div class="text-center">
                            <p class="font">
                                <i class="fa-solid fa-quote-left fa-xl" style="color: #d7e9f5; "></i>
                                The pain of the pain of the things that I was a lot of hair, for there is no fault of
                                many of the eu export to the least of the least of the least he wishes to flee, and the
                                pain of the pain of the two things I will come to him, the labor of the soul, which
                                would be great, they are the customers will come to him.
                                <i class="fa-solid fa-quote-right fa-xl" style="color: #d7e9f5;"></i>
                            </p>
                            <h3 class="card-title py-2" style="font-size: 20px; font-weight: 600; transition: .5s;">
                                Sarah Wilsson</h3>
                            <h4 class="card-text text" style="font-size: 13px;">Designer</h4>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="img-box" style="background-color: white;">
                        <div class="text-center">
                            <p class="font">
                                <i class="fa-solid fa-quote-left fa-xl" style="color: #d7e9f5; "></i>
                                The pain of the pain of the things that I was a lot of hair, for there is no fault of
                                many of the eu export to the least of the least of the least he wishes to flee, and the
                                pain of the pain of the two things I will come to him, the labor of the soul, which
                                would be great, they are the customers will come to him.
                                <i class="fa-solid fa-quote-right fa-xl" style="color: #d7e9f5;"></i>
                            </p>
                            <h3 class="card-title py-2" style="font-size: 20px; font-weight: 600; transition: .5s;">
                                Matt Brandon</h3>
                            <h4 class="card-text text" style="font-size: 13px;">Freelancer</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
      <!-- Team Section -->
      <section class="team pt-5 pb-5">
        <div class="container">
            <div class="text-center pb-2 section-title">
                <h2>Team</h2>
                <p class="text">Necessitatibus eius consequatur ex aliquid fuga eum quidem</p>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="img-box">
                        <div class="text-center">
                            <div class="img mb-4">
                                <img src="https://bootstrapmade.com/demo/templates/Lumia/assets/img/team/team-1.jpg"
                                    height="200px" style="border-radius: 100px;">
                            </div>
                            <h3 class="card-title" style="font-size: 20px; font-weight: 600; transition: .5s;">
                                Walter White</h3>
                            <h4 class="card-text text" style="font-size: 13px;">Chief Executive Officer</h4>
                            <p class="font" style="font-size: 13px; color: #888b91;">
                                The Great, who, and that all of them, and the flight of the exercise. I hate the truth,
                                or either, or who seek to see the truth.
                            </p>
                            <div class="icons">
                                <i class="fa-brands fa-twitter" style="color: #888b91;"></i>
                                <i class="fa-brands fa-facebook ps-1" style="color: #888b91;"></i>
                                <i class="fa-brands fa-instagram ps-1" style="color: #888b91;"></i>
                                <i class="fa-brands fa-linkedin ps-1" style="color: #888b91;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="img-box">
                        <div class="text-center">
                            <div class="img mb-4">
                                <img src="https://bootstrapmade.com/demo/templates/Lumia/assets/img/team/team-2.jpg"
                                    height="200px" style="border-radius: 100px;">
                            </div>
                            <h3 class="card-title" style="font-size: 20px; font-weight: 600; transition: .5s;">
                                Walter White</h3>
                            <h4 class="card-text text" style="font-size: 13px;">Chief Executive Officer</h4>
                            <p class="font" style="font-size: 13px; color: #888b91;">
                                The Great, who, and that all of them, and the flight of the exercise. I hate the truth,
                                or either, or who seek to see the truth.
                            </p>
                            <div class="icons">
                                <i class="fa-brands fa-twitter" style="color: #888b91;"></i>
                                <i class="fa-brands fa-facebook ps-1" style="color: #888b91;"></i>
                                <i class="fa-brands fa-instagram ps-1" style="color: #888b91;"></i>
                                <i class="fa-brands fa-linkedin ps-1" style="color: #888b91;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="img-box">
                        <div class="text-center">
                            <div class="img mb-4">
                                <img src="https://bootstrapmade.com/demo/templates/Lumia/assets/img/team/team-3.jpg"
                                    height="200px" style="border-radius: 100px;">
                            </div>
                            <h3 class="card-title" style="font-size: 20px; font-weight: 600; transition: .5s;">
                                Walter White</h3>
                            <h4 class="card-text text" style="font-size: 13px;">Chief Executive Officer</h4>
                            <p class="font" style="font-size: 13px; color: #888b91;">
                                The Great, who, and that all of them, and the flight of the exercise. I hate the truth,
                                or either, or who seek to see the truth.
                            </p>
                            <div class="icons">
                                <i class="fa-brands fa-twitter" style="color: #888b91;"></i>
                                <i class="fa-brands fa-facebook ps-1" style="color: #888b91;"></i>
                                <i class="fa-brands fa-instagram ps-1" style="color: #888b91;"></i>
                                <i class="fa-brands fa-linkedin ps-1" style="color: #888b91;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>